.DisplayCarusel{
    display: flex;
    position: relative;
    overflow-x: scroll;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    padding: 20px 20px 0px 20px;
}
.DisplayCarusel::-webkit-scrollbar{
    display: none;
}
.DisplayCarusel img{
    position: sticky;
    height: 50px;
    opacity: 0.3;
    cursor: pointer;
    transform: scaleY(0.7);
    z-index: 100;
}
.left{
    left: 0px;
}
.right{
    right:0px;
}